@import 'base/variables';
@import 'base/bootstrap_variables';
@import 'mixins/breakpoints';

body {
    background-color: #F7F7F7; //overflow-y: hidden;
    font-family: "open sans";
}

input {
    font-family: "open sans";
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

/* ANIMATIONS  */
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes slideInDown {
    from {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInDown {
    animation-name: slideInDown;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }

  @keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale3d(.3, .3, .3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  .zoomIn {
    animation-name: zoomIn;
  }

  @keyframes slideInLeft {
    from {
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInLeft {
    animation-name: slideInLeft;
  }

  @-webkit-keyframes slideOutLeft {
    from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    to {
      visibility: hidden;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }
  
  @keyframes slideOutLeft {
    from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    to {
      visibility: hidden;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }
  
  .slideOutLeft {
    -webkit-animation-name: slideOutLeft;
    animation-name: slideOutLeft;
  }
  
  @-webkit-keyframes slideOutRight {
    from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    to {
      visibility: hidden;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  }
  
  @keyframes slideOutRight {
    from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    to {
      visibility: hidden;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  }
  
  .slideOutRight {
    -webkit-animation-name: slideOutRight;
    animation-name: slideOutRight;
  }

  @keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}
/* ANIMATIONS  */

/*** Content Container ***/
.timeline_div_container {
    background-color: $timeline_div_container_bg;
    min-height: 100vh;
    display: flex;
    //align-items: center;
    height: auto;
    //padding: 50px 0px;
    padding: 0px;
}

#timeline_div {
    background-color: #fff;
    min-height: $timeline_div_height;
    user-select: none;

    & > .row {
        height: 100%;
    }

    .timeline_lhs {
        background-color: #fff;
        
        z-index: 1000;

        max-width: $timeline_lhs_width;
        min-width: $timeline_lhs_width;

        &.top_lhs {
            background-color: $timeline_div_container_bg;
            height: $timeline_top_bar_height - 10px;
            box-shadow: none;
        }

        &__top_bar_logo {
            height: $timeline_top_bar_height;
            display: flex;
            align-items: center;
            justify-content: center;
            //border-bottom: 1px solid #D5D5D5;

            //background-color: #132645;
            //color: #fff;

            h2 {
                font-family: montserrat;
                font-size: 18px;
                font-weight: 600;
                text-transform: uppercase;
                margin-bottom: 0px;

                @include media-breakpoint-down(lg) {
                    font-size: 17px;
                }
            }
        }

        &__menu {
            padding: 0px 10px;
            //min-height: calc(#{$timeline_div_height} - #{$timeline_top_bar_height});
            //min-height: $timeline_div_height - 25px;
            padding-top: $content_padding_top;
            //margin-bottom: 30px;
            //box-shadow: 5px 0px 15px -4px rgba(125, 125, 125, 0.25);
            box-shadow: 5px 5px 15px -4px rgba(125, 125, 125, 0.25);
            min-height: calc(100vh - #{$timeline_top_bar_height});

            &__menu_element {
                min-height: $timeline_lhs_menu_element_height;
                display: flex;
                align-items: center;
                font-family: "open sans";
                font-size: 15px;
                font-weight: 600;
                border-bottom: 1px solid #D5D5D5;
                padding-left: 20px;
                justify-content: space-between;
                cursor: pointer;

                &.active {

                }


                &__team_container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;

                    &.project_active {
                        width: auto;
                        padding-right: 30px;
                    }

                    & > .icon {
                        display: flex;
                    }
    
                    i {
                        font-size: 32px;
                    }
    
                }

                &__project_container {
                    flex-grow: 1;
                    text-align: right;
                    border-left: 1px solid #d5d5d5;
                    //padding: 0px 15px;
                    padding: $menu_project_graph_circle_div_padding_top_bottom 15px;
                    display: none;
                    transition: all 0.3s ease;

                    &.show {
                        display: block;
                    }

                    .project_name {
                        //padding: 20px 0px;
                        //padding-right: 20px;
                        font-size: 14px;
                        height: $timeline_menu_project_name_height;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                    }
                }

                &:last-child {
                    //border-bottom: none;
                }
            }
        }
    }

    .timeline_rhs {
        background-color: #fbfbfb;

        max-width: calc(100% - #{$timeline_lhs_width});
        min-width: calc(100% - #{$timeline_lhs_width});

        overflow: auto;

        display: flex;
        align-items: flex-start;

        &.top_rhs {
            background-color: $timeline_div_container_bg;
            height: $timeline_top_bar_height - 10px;
            min-width: 100% !Important;
            padding: 0px 15px;
        }

        &__top_bar {
            background-color: $timeline_top_bar_bgcolor;
            height: $timeline_top_bar_height;
            color: #fff;
            display: flex;

            .month {
                min-width: $timeline_month_width;
                display: flex;
                align-items: center;
                background-color: $timeline_top_bar_bgcolor;
                padding-left: 15px;
                
                &::before {
                    content: '';
                    height: 40px;
                    width: 1px;
                    background-color: #6C6C6C;
                    position: relative;
                    left: -15px;
                }
            }

        }

        &__content {
            //height: calc(#{$timeline_div_height} - (#{$timeline_top_bar_height} + 20px));
            //min-height: $timeline_div_height - 40px;
            padding-top: $content_padding_top;
            min-height: 600px;

            .milestone_div {
                position: absolute;
                //height: $timeline_top_bar_height - 15px;
                //width: 50px;
                background: transparent;
                //border-left: 2px solid #000;
                top: 25px;

                display: flex;
                align-items: center;

                .text {
                    font-size: 13px;
                    font-weight: 700;
                    margin-left: 35px;

                    .date {
                        font-weight: 400;
                        font-size: 11px;
                    }
                }

                &.one {
                    left: (($timeline_month_width/30)*5) + ($timeline_month_width*0) + 15px; // 5th + January(0) + 15px for the left padding (due to absolute positioning)
                }
                &.two {
                    left: (($timeline_month_width/30)*12) + ($timeline_month_width*2) + 15px; // 15th + March(2) + 15px for the left padding (due to absolute positioning)
                }
                &.three {
                    left: (($timeline_month_width/30)*29) + ($timeline_month_width*5) + 15px; // 15th + June(5) + 15px for the left padding (due to absolute positioning)
                }

                .flag {
                    position: relative;
                    left: 1px;
                    width: 0; 
                    height: 0; 
                    border-top: 8px solid transparent;
                    border-bottom: 8px solid transparent;
                    border-left: 16px solid $milestone_flag_color;
                    position: absolute;
                    
                    /* &.one{
                        //border-left: 24px solid $blue;
                        border-left: 24px solid $milestone_flag_color;
                    }
                    &.two{
                        //border-left: 24px solid $green;
                        border-left: 24px solid $milestone_flag_color;
                    }
                    &.three{
                        //border-left: 24px solid $darkpurple;
                        border-left: 24px solid $milestone_flag_color;
                    } */
                    
                }

            }


            .milestone_grid {
                position: absolute;
                height: 100%;
                //width: 50px;
                background: transparent;
                border-left: 1px solid #E1E1E1;
                //top: 0px;
                top: 35px;

                &.one {
                    left: (($timeline_month_width/30)*5) + ($timeline_month_width*0) + 15px; // 5th + January(0) + 15px for the left padding (due to absolute positioning)
                }
                &.two {
                    left: (($timeline_month_width/30)*12) + ($timeline_month_width*2) + 15px; // 15th + March(2) + 15px for the left padding (due to absolute positioning)
                }
                &.three {
                    left: (($timeline_month_width/30)*29) + ($timeline_month_width*5) + 15px; // 15th + June(5) + 15px for the left padding (due to absolute positioning)
                }
            }

            /* &__overlay {
                width: 100%;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                background: rgba(0,0,0,0.25);
            } */


            .graph_bar_div {
                height: $timeline_lhs_menu_element_height;
                display: flex;
                align-items: center;

                /* &::before {
                    content: '';
                    width: 100%;
                    height: 1px;
                    background-color: #E1E1E1;
                    position: absolute; 
                } */

                &.hide {
                    display: none;
                }

                .graph_bar {
                    
                    
                    height: $graph_bar_height;
                    border-radius: 50px;
                    position: relative;
                    cursor: pointer;
                    

                    &.blue {
                        //background-color: #4A86E8;
                        background-color: $blue;
                        width: (($timeline_month_width/30)*2) + ($timeline_month_width*2); //(2 days and 2 months)
                        left: (($timeline_month_width/30)*5) + ($timeline_month_width*0); // 5th + January(0)
                    }
                    &.green {
                        //background-color: #8FD285;
                        background-color: $green;
                        width: (($timeline_month_width/30)*15) + ($timeline_month_width*3); //(15 days and 3 months)
                        left: (($timeline_month_width/30)*5) + ($timeline_month_width*1); // 5th + February(0)
                    }
                    &.red {
                        //background-color: #F48786;
                        background-color: $red;
                        width: (($timeline_month_width/30)*30) + ($timeline_month_width*3); //(15 days and 3 months)
                        left: (($timeline_month_width/30)*25) + ($timeline_month_width*1); // 5th + February(0)
                    }

                    
                }
            }

            .graph_circle_div {
                height: $timeline_menu_project_name_height*3;
                display: flex;
                align-items: center;
                background-color: #F2F2F2;
                box-shadow: inset 0px 0px 20px rgba(172, 172, 172, 0.2);
                padding: $menu_project_graph_circle_div_padding_top_bottom 0px;

                flex-direction: column;
                box-sizing: content-box;

                display: none;
                transition: all 0.3s ease;

                &.show {
                    display: block;
                }

                &__collapse {
                    position: absolute;
                    margin-left: 15px;
                    //background-color: #132645;
                    background-color: #fff;
                    padding: 0px;
                    z-index: 1000;
                    border-radius: 4px;
                    cursor: pointer;
                    box-shadow: 0px 0px 8px 0px rgba(44, 44, 44, 0.35);

                    i{
                        font-size: 36px;
                        color: #000;
                        display: flex;
                    }
                }

                .graph_bar_div {
                    height: $timeline_menu_project_name_height;
                    display: flex;
                    width: 100%;
                    //align-items: center;
    
                    &::before {
                        content: '';
                        width: 96%;
                        height: 1px;
                        background-color: #E1E1E1;
                        position: absolute; 
                    }
    
                    .graph_bar {
                        position: relative;
                        width: $timeline_graph_circle_width;
                        height: $timeline_graph_circle_width;
                        border-radius: 50px;

                        cursor: pointer;
  
                    .text {
                        position: absolute;
                        top: 35px;
                        font-size: 11px;
                        font-weight: 600;
                        font-family: "open sans";
                        left: -5px;
                        width: 150%;
                    }
    
                        &.blue {
                            background-color: $blue;
                            //width: (($timeline_month_width/30)*2) + ($timeline_month_width*2); //(2 days and 2 months)      
                        }  
                        &.red {
                            background-color: $red;
                            
                            &.one {
                                left: (($timeline_month_width/30)*25) + ($timeline_month_width*1); // 5th + Feb(1)
                            }
                            &.two {
                                left: (($timeline_month_width/30)*0) + ($timeline_month_width*4); // 5th + May(4)
                            }
                        }         
                        &.purple {
                            //background-color: #9D9DF5;
                            background-color: $purple;
                            
                            &.one {
                                left: (($timeline_month_width/30)*5) + ($timeline_month_width*2); // 5th + January(0)
                            }
                            &.two {
                                left: (($timeline_month_width/30)*5) + ($timeline_month_width*3); // 5th + February(0)
                            }
                        }         
                        &.darkpurple {
                            //background-color: #B171CE;
                            background-color: $darkpurple;
                            
                            &.one {
                                left: (($timeline_month_width/30)*5) + ($timeline_month_width*2); // 5th + March(2)
                            }
                            &.two {
                                left: (($timeline_month_width/30)*5) + ($timeline_month_width*5); // 5th + June(5)
                            }
                        }         
                    }
                }
            }
        } /* Timeline RHS Content  */

        &__sliding_rhs_div {
            width: 400px;
            //width: 0px;
            min-height: 100%;
            background-color: #fff;
            position: absolute;
            top: 0;
            right: 0px;
            position: fixed;
            box-shadow: -5px 0px 15px -4px rgba(125,125,125,0.25);
            padding: 30px;
            padding-top: 40px;
            height: 100%;
            overflow: auto;
            //display: none;
            transition: all 0.5s ease;
           transform: translate3d(100%, 0, 0);

            &.show {
                transform: translate3d(0%, 0, 0);
            }
            
            .close_rhs {
                float: right;
                position: absolute;
                top:10px;
                right: 10px;
                cursor: pointer;
            }

            h2.rhs_title {
                font-family: montserrat;
                font-weight: 600;
                font-size: 20px;
                text-align: center;
            }

            .rhs_sub_section {
                margin-top: 4em;

                h4.sub_section_title {
                    font-family: montserrat;
                    font-weight: 500;
                    font-size: 15px;
                    margin-bottom: 15px;
                }
                .members_images_div {
                    margin-top: 15px;
                    img {
                        min-width: 50px;
                        min-height: 50px;
                        max-width: 50px;
                        max-height: 50px;
                        border-radius: 50px;
                        background-color: #BFBFBF;
                        margin-right: 15px;
                        margin-bottom: 15px;
                    }
                }

                .projects_div {
                    .project {
                        display: inline-block;
                        font-size: 12px;
                        font-family: "open sans";
                        font-weight: 600;
                        color: #000;
                        background-color: #E3E3E3;
                        padding: 4px 12px;
                        margin-right: 5px;
                        margin-bottom: 10px;
                        cursor: pointer;
                        transition: all 0.3s ease;

                        &.active {
                            background-color: #EE6262;
                            color: #fff;
                        }
                    }
                }

                .project_summary {
                    font-size: 13px;
                    margin: 20px 0px;
                    margin-bottom: 40px;
                }

                #project_name_title {
                    text-transform: uppercase;
                }

                .individual_project_table {
                    table {
                        width: 100%;
                    }
                    thead {
                        background-color: #F2F2F2;
                        
                    }
                    th {
                        font-size: 13px;
                        padding: 10px 10px;
                    }

                    td {
                        font-size: 12px;
                        padding: 12px 10px;
                    }

                    tbody {
                        display: none;
                        tr>td:first-child {
                            font-weight: 700;
                            color: #123A79;
                        }

                        &.active {
                            display: table-row-group;
                        }
                    }
                    
                }
                
            }
        }
    }/* Timeline RHS */

    .expand_all {
        position: absolute;
        top: 0px;
        right: 15px;
    }
}
/*** Content Container ***/